<body>

  <div class="colmask leftmenu">
    <div class="colleft">
      <div class="col1">
        <div class="img">
          <img src="http://wallpapercave.com/wp/WY0bQFU.gif">
        </div>
        <h1>Daffy Duck<br>
          Resident Duck
      </h1>
        <hr>
        <h1>daffy.duck@looneytoons.inc<br>
          867-5309
      </h1>
      </div>
      <div class="col2">
        <h2>Daffy Duck</h2>
        <h3>Resident duck</h3>
      </div>
    </div>
  </div>

</body>

